/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


/*Global styles*/
html, body {
  overflow: auto;
}

body {
  font: 100% "Work Sans", Helvetica, sans-serif;
  background-color: #fafafa;
  color: #352B28;
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 0;
}

.DateTime {
  padding: 10px;
  margin: 1rem;
}

.DateTime h1:first-of-type {
  float: left;
}

.DateTime h1:last-of-type {
  float: right;
}

.weather {
  width: 60%;
  display: block;
  float: left;
  padding: 1rem;
}

.currentForecast {
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 10px;
}

.currentForecast .tempRange {
  display: flex;
  align-items:center;
}

.currentForecast h2, p {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

.grid-item {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 0.5rem;
}

.busSchedule {
  display: inline-block;
  width: 40%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.calendar-events {
  display: inline-block;
  width: 40%;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.busTime {
  padding-left: 10px;
}

.event {
  margin-top: 10px;
  padding-left: 10px;
}
